<!doctype html>
<html>
  <head>
    <title>Data Visualization Theory</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <div class="floatl">
          <h1>Data Visiualization Theory</h1>
        </div>
        <div class="header-right">
          Source on Github
          <!-- by Lisa Zhang -->
        </div>
        <div class="block">
        </div>
        <hr />
      </div>
      <div class="main-content">
        {{content}}
      </div>
      <div class="table-content">
        <h4>Table of Contents</h4>
        <ul>
          <li>Why Visualize?</li>
          <li>Data</li>
          <li>Biology</li>
          <li>Visual Encoding</li>
          <li>Common Charts</li>
          <li>Chart Choices</li>
          <li>Visualization Process</li>
        </ul>
      </div>
      <div class="footer">
        Content Copyright Lisa Zhang. 2014. This footer was last updated Dec 2014.
      </div>


    </div>
  </body>
</html>
